{% extends 'base.html' %}
{% block title %}User Posts{% endblock %}
{% block content %}
    {{ msg }}
    <div class="message">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message|safe }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <ul class="content">
        <!--CS: too lazy to put this in the stylesheet properly-->
    {% if session and session.username == uname %}
        <div style="
        top: 5px;
        width: inherit;
        background: rgba(128, 196, 255, 0.5);
        padding: 0.5em 1em;
        border-radius: 8px;">
            <form method="POST" action="/<uname>/">
                <input type="checkbox" name="twofactor" {% if twofactor == 1 %}checked{% endif %}>
                <label for="twofactor" style="width: inherit; margin-left: 5px;">Enable/disable two factor authentication</label>
                <hr>
                <label for="username" style="width: inherit; margin-right: 5px;">Change Username:</label>
                <input type="text" name="username" value="{{ uname|safe }}">
            <hr>
                <input type="hidden" name="email" id="email" maxlength="64" value="{{ email|safe }}">
                <input type="hidden" name="csrftoken" value="{{ session.CSRFtoken }}" />
                <input type="submit" value="Save">
            </form>
            <hr>
            <form method="POST" action="/reset/">
                <!-- hidden for reset form -->
                <input type="hidden" name="email" value="{{ email|safe }}">
                <input type="hidden" name="csrftoken" value="{{ session.CSRFtoken }}" />
                <label for="password" style="width: inherit; margin-right: 5px;">Reset Password:</label>
                <input type="submit" name="login" value="Send me a reset" />
            </form>
        </div>
    {% endif %}

        {% for post in posts %}
            <li>
                <h2>{{post.title|safe}}</h2>
                <p class="subtext">{{post.date|safe}}</p>
                <p>{{post.content|safe}}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}