<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}TITLE{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <!--<script src="main.js"></script>-->
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <form action="/search/" method="GET"><input type="text" name="s" /><input type="submit" value="Search" /></form>
    </nav>

    {% block login %}
        {% if loggedin %}
            <div id="userbox">
                {% autoescape false %}
                    <strong>User:</strong> {{username}}<br />
                {% endautoescape %}
                <a href="/post/">Post</a>
                <a href="/logout/">Logout</a>

            </div>
        {% else %}
            <div id="loginbox">
                <a href="/login/">Login</a> <br>
                <a href="/create_account/">Create Account</a>
            </div>
        {% endif %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    <a href="/admin/" id="admin">Admin Page </a> <!-- TEMPORARY LINK, REMOVE IN FINAL VERSION!-->
</body>
</html>
