{% extends 'base.html' %}
{% block login %}{% endblock %}
{% block content %}
    <h1>Create New Account</h1>
    <form method="POST" action="/create_account/">
        <p><label for="name">Name:</label><input  name="name" id="name" maxlength="64"/></p>
        <p><label for="email">Email:</label><input  name="email" id="email" maxlength="64" type="email"/></p>
        <p><label for="username">Username:</label><input name="username" id="username" maxlength="32" /></p>
        <p><label for="password">Password:</label><input name="password" id="password" maxlength="32" type="password" /></p>
        <p><input type="submit" name="new_account" value="Create Account" /></p>
    </form>
    <br>
    {{ msg }}
{% endblock %}
