{% extends 'base.html' %}
{% block title %}Reset Code Entry{% endblock %}
{% block content %}
    <h1>Enter Reset Code</h1>
    <form method="POST" action="/enter_reset/">
        <p><label type="email" for="email">Email:</label><input name="email" id="email"  /></p>
        <p><label for="code">Code:</label><input name="code" id="code" /></p>
        <p><input type="submit" name="submit" value="Submit" /></p>
    </form>
    <div class="message">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {% autoescape false %}
                        {{ message }}
                    {% endautoescape %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}
