{% extends 'base.html' %}
{% block login %}{% endblock %}
{% block title %}Login{% endblock %}
{% block content %}
    <h1>Login</h1>
    <form method="POST" action="/login/">
        <p><label for="email">Email:</label><input name="email" id="email" maxlength="64" /></p>
        <p><label for="password">Password:</label><input name="password" id="password" maxlength="32" type="password" /></p>
        <p><input type="submit" name="login" value="Login" /></p>
    </form>
    <a href="/reset/">Forgotten your password?</a>
    <a href="/create_account/">Create an account</a>
{% endblock %}
