{% extends 'base.html' %}
{% block title %}Reset{% endblock %}
{% block content %}
    <h1>Enter A New Password</h1>

    <form method="POST" action="/reset_password/">
        <input type="hidden" id="token" name="token" value="{{ token|safe }}">
        <input type="hidden" id="email" name="email" value="{{ email|safe }}">
        <p><label type="password" for="password">New password:</label>
            <input name="password" id="password" type="password" minlength="8" maxlength="64"/></p>
        <p><input type="submit" name="submit" value="Submit" /></p>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message|safe }}
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}
